@import "tailwindcss";

:root {
	--background: #1a1a1a;
	--foreground: #171717;

	--text-color: #e2e8f0;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

#gradient-canvas {
	width: 100%;
	height: 100%;

	--gradient-color-1: #c3e4ff;
	--gradient-color-2: #6ec3f4;
	--gradient-color-3: #eae2ff;
	--gradient-color-4: #b9beff;
}
