@import "tailwindcss";

:root {
	--background: #1a1a1a;
	--foreground: #171717;

	--text-color: #393939;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

// #gradient-canvas {
// 	--gradient-color-1: rgb(12, 18, 23);
// 	--gradient-color-2: rgb(16, 27, 36);
// 	--gradient-color-3: rgb(19, 25, 33);
// 	--gradient-color-4: rgb(17, 23, 32);
// }

#gradient-canvas {
	--gradient-color-1: #c3fffc;
	--gradient-color-2: #52bce9;
	--gradient-color-3: #e2fff7;
	--gradient-color-4: #b9e6ff;
}

// #gradient-canvas {
// 	--gradient-color-1: #a7c492;
// 	--gradient-color-2: #bdde99;
// 	--gradient-color-3: #92d47e;
// 	--gradient-color-4: #cbdba2;
// }

// #gradient-canvas {
// 	--gradient-color-1: #ffe5c3;
// 	--gradient-color-2: #e97552;
// 	--gradient-color-3: #faffe2;
// 	--gradient-color-4: #ffc9b9;
// }

// #gradient-canvas {
// 	--gradient-color-1: #ffcec3;
// 	--gradient-color-2: #e95752;
// 	--gradient-color-3: #ffece2;
// 	--gradient-color-4: #ffb9b9;
// }

// #gradient-canvas {
// 	--gradient-color-1: #ffc3eb;
// 	--gradient-color-2: #c594ed;
// 	--gradient-color-3: #f3e2ff;
// 	--gradient-color-4: #e6b9ff;
// }

// #gradient-canvas {
// 	--gradient-color-1: #ffc3eb;
// 	--gradient-color-2: #edbb94;
// 	--gradient-color-3: #f3e2ff;
// 	--gradient-color-4: #ffddb9;
// }
