.container {
	margin: 0 auto;
	padding: 2rem;
}

.title {
	font-size: 2.5rem;
	color: var(--text-color);
	text-align: center;
}

.buttonContainer {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-top: 2rem;
	background: white;

	.button {
		padding: 0.75rem 1.5rem;
		font-size: 1.25rem;
		border: none;
		border-radius: 0.5rem;
	}
}
