.container {
	margin: 0 auto;
	padding: 2rem;

	width: 100vw;
	height: 100vh;

	overflow: hidden;
	position: relative;
}

.gameOver {
	position: absolute;
	inset: 0;

	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0);

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	user-select: none;

	z-index: 20;

	.gameOverTitle {
		color: rgb(46, 46, 46);
		font-size: 20px;
	}

	.overlay {
		position: absolute;
		inset: 0;

		background: rgba(0, 0, 0, 0);
	}
}

.gradient {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	z-index: -2;

	opacity: 1;
}

.cookieWelcome {
	position: absolute;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;

	color: var(--text-color);

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	backdrop-filter: blur(5px);

	z-index: 10;

	.welcomeTitle {
		margin-bottom: 0.4rem;
		font-family: "Times New Roman", Times, serif;
		font-size: 2rem;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.236);
	}

	.welcomeMessage {
		font-size: 1.2rem;
		margin-bottom: 0.4rem;
		font-family: "Times New Roman", Times, serif;
		font-style: italic;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.236);
	}
}

.cookieMain {
	padding: 48px;

	position: absolute;
	inset: 0;

	width: 100%;
	height: 100%;

	// background: red;

	box-sizing: border-box;

	// .title {
	// 	position: absolute;

	// 	padding: 6px 12px;

	// 	border-radius: 10px;

	// 	font-family: "Ubuntu", sans-serif;
	// 	font-weight: 500;

	// 	background: #ffe5dd;
	// 	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
	// 	backdrop-filter: blur(24px);
	// }

	.hearts {
		position: absolute;
		top: 0;
		left: 0;

		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.heart {
		margin-right: -40px;
	}

	.cookies {
		position: absolute;
		top: 0;
		right: 0;

		display: flex;
		flex-direction: row;
		align-items: center;

		font-size: 64px;
		font-family: "Ubuntu", sans-serif;
		font-weight: 500;

		color: rgb(45, 45, 45);
	}

	.gameArea {
		position: relative;

		width: 100%;

		margin-top: 96px;

		height: calc(100% - 96px);
	}
}
