.container {
	margin: 0 auto;
	padding: 2rem;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.gradient {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	z-index: -2;

	opacity: 1;
}

.cookieWelcome {
	position: absolute;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;

	color: var(--text-color);

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	backdrop-filter: blur(5px);

	z-index: 10;

	.welcomeTitle {
		margin-bottom: 0.4rem;
		font-family: "Times New Roman", Times, serif;
		font-size: 2rem;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.236);
	}

	.welcomeMessage {
		font-size: 1.2rem;
		margin-bottom: 0.4rem;
		font-family: "Times New Roman", Times, serif;
		font-style: italic;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.236);
	}
}

.title {
	font-size: 2.5rem;
	color: var(--text-color);
	text-align: center;
	position: relative;
	z-index: 5;
}

.buttonContainer {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-top: 2rem;
	color: var(--text-color);
	position: relative;
	z-index: 5;

	.button {
		padding: 0.5rem 1.5rem;
		font-size: 1.25rem;
		border: none;
		border-radius: 0.5rem;
		cursor: pointer;
	}
}
